<h1>POLICY</h1>

<h3> Policy saved at: <%= Rails.configuration.peregrine_policyfile %> </h3><br/>



<form action="/policy" method="GET">
	<button type="submit" class="btn btn-primary">BACK</button>
</form>
