<div class="box-icon">
   <a href="/tbl_inventory" class="btn-small btn-setting btn-round"><i class="icon-cog"></i></a>
   <a href="/tbl_inventory" class="btn-small btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
   <a href="/tbl_inventory" class="btn-small btn-close btn-round"><i class="icon-remove"></i></a>
</div>

